.card {
    margin-top: -5%;
    width: 30%;
    height: auto;
    left: 0;
    margin-left: 1.4%;
    position: relative;
    z-index: 4;
}

@media screen and (max-width:800px) {
    .card {
        margin-top: -13%;
        width: 30%;
        height: auto;
        left: 0;
        position: relative;
        z-index: 4;
    }
}